body{
    background: url("/image/background.jpeg");
    background-size: 2750px ;
    height: 100%;
    max-height: 1240px;
}

html{
    height: 100%;
}

h1,h3{
    color: white;
    font-family: "Sansita Swashed";
}

ul{
   color: white;
}


.board {
    /*width: 90%;*/
    /*height: 80%;*/
    /*background: transparent;*/
    /*border: solid 6px brown;*/
    /*border-radius: 630px;*/
    /*padding: 0px 75px 0px 95px;*/
    /*margin: 0 auto;*/
    /*margin-top: 50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    background: transparent;
    border: solid 3px brown;
    height: 45px;
    border-radius: 50px;
    width: 230px;
    margin: 0 auto;
    padding-bottom: 7px;
    transition: 1.2s;
    color:white;
    font-size: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    font-family:"Sansita Swashed";
    margin-bottom: 20px;
}

button:hover{
    width: 250px;
    height: 60px;
    transition: 1.2s;
    padding: 0px 10px 3px 10px;
    background-color: #009b6f;
}

.buttons{
    height: 60px;
}